nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(bg3.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}